<div class="datepicker-content">
    <input class="datepicker-input" placeholder="Select date"
           ng-value="$ctrl.inputLabel"
           ng-click="$ctrl.toggleDatePickerMenu()">
    <i class="icon fa fa-calendar"></i>
    <div class="datepicker-menu" ng-show="$ctrl.isDatePickerMenuVisible">
        <table>
            <tbody>
            <tr class="datepicker-controls">
                <td class="dactepicker-prev-month" ng-click="$ctrl.prevMonth()" rowspan="10">
                    <i class="fa fa-2x fa-angle-left"></i>
                </td>
                <td class="datepicker-menu-title" colspan="7">{{$ctrl.curMonth.format('MMMM, YYYY')}}</td>
                <td class="datepicker-next-month" ng-click="$ctrl.nextMonth()" rowspan="10">
                    <i class="fa fa-2x fa-angle-right"></i>
                </td>
            </tr>
            <tr>
                <td ng-repeat="weekDayName in $ctrl.weekDayNames" class="datepicker-weekday">
                    {{weekDayName}}
                </td>

            </tr>
            <tr ng-repeat="week in $ctrl.weeks">
                <td ng-repeat="day in week" ng-click="$ctrl.selectDay(day)" class="datepicker-day"
                    ng-class="{selected:day.date==$ctrl.ngModel.getDate() && day.month==$ctrl.ngModel.getMonth() && day.year==$ctrl.ngModel.getFullYear(),faded:$ctrl.curMonth.month()!=day.month,disabled:day.isDisabled}">
                    {{day.date}}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
