<div class="timepicker-content">
    <input class="timepicker-input" placeholder="Select time"
           ng-value="$ctrl.ngModel ? ($ctrl.ngModel | timefilter) : ''" ng-disabled="$ctrl.date==null"
           ng-click="$ctrl.toggleTimePickerMenu()">
    <i class="icon fa fa-clock-o"></i>
    <div class="timepicker-menu" ng-show="$ctrl.isTimePickerMenuVisible">
        <table>
            <tbody>
            <tr>
                <td colspan="4">{{$ctrl.date|date:'MMMM dd, yyyy'}}</td>
            </tr>
            <tr class="timepicker-controls">
                <td class="timepicker-control-meridiem" ng-class="{active:meridiem==$ctrl.selectedMeridiem}" colspan="2"
                    ng-repeat="meridiem in $ctrl.meridiems"
                    ng-click="$ctrl.setMeridiem(meridiem)">
                    {{meridiem}}
                </td>
            </tr>
            <tr ng-repeat="timesRow in $ctrl.timesRows" class="ng-scope">
                <td class="timepicker-time"
                    ng-class="{selected:$ctrl.ngModel.hour==time.hour&&$ctrl.ngModel.minute==time.minute, disabled:time.isDisabled}"
                    ng-repeat="time in timesRow"
                    ng-click="$ctrl.selectTime(time)">{{time | timefilter}}
                </td>
            </tr>
        </table>
    </div>
</div>
